@font-face {
   font-family: 'BentonSans-Medium';
   src: url('BentonSans-Medium/BentonSans-Medium.woff');
}
@font-face {
   font-family: 'BentonSans-Thin';
   src: url('BentonSans-Thin/BentonSans-Thin.woff');
}
@font-face {
   font-family: 'BentonSans-Light';
   src: url('BentonSans-Light/BentonSans-Light.woff');
}
@font-face {
   font-family: 'BentonSans-ExtraLight';
   src: url('BentonSans-ExtraLight/BentonSans-ExtraLight.woff');
}
@font-face {
   font-family: 'BentonSans-Book';
   src: url('BentonSans-Book/BentonSans-Book.woff');
}
@font-face {
   font-family: 'BentonSans-Bold';
   src: url('BentonSans-Bold/BentonSans-Bold.woff');
}
@font-face {
   font-family: 'BentonSans-Black';
   src: url('BentonSans-Black/BentonSans-Black.woff');
}






